.sidebar {
    flex: 0.35;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 25px;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}